:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(24, 24, 24, 0.87);
  background-color: #ecebeb;
  font-size: 10px;
}

body {
  margin: 0;
  display: flex;
  min-width: 32rem;
  /*min-height: 100vh;*/
}

h1 {
  font-size: 3.2rem;
}

button {
  max-width: fit-content;

  font-size: 1.4rem;

  border-radius: 0.8rem;
  border-color: transparent;
  padding: 0.2rem ;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.4rem;
}